html,
			body {
				padding: 0;
				margin: 0;
				height: 100%;
			}

			body {
				display: flex;
				background-color: rgb(228, 35, 35);
				
			}

			canvas {
				background-color: rgb(151, 35, 228);
				width: 100%;
				object-fit: contain;
				image-rendering: crisp-edges;
				image-rendering: pixelated;
			}

			img,
			audio {
				display: none;
			}

			.icon{
				display: none;
			}